/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--ion-font-family: 'Kodchasan', sans-serif;

	--ion-color-primary: #A80F12;
	--ion-color-primary-rgb: 168,15,18;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #940d10;
	--ion-color-primary-tint: #b1272a;

	--ion-color-secondary: #256CA4;
	--ion-color-secondary-rgb: 37,108,164;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #215f90;
	--ion-color-secondary-tint: #3b7bad;

	--ion-color-tertiary: #D72323;
	--ion-color-tertiary-rgb: 215,35,35;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #bd1f1f;
	--ion-color-tertiary-tint: #db3939;

	--ion-color-success: #256CA4;
	--ion-color-success-rgb: 37,108,164;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #215f90;
	--ion-color-success-tint: #3b7bad;

	--ion-color-warning: #D72323;
	--ion-color-warning-rgb: 215,35,35;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #bd1f1f;
	--ion-color-warning-tint: #db3939;

	--ion-color-danger: #D72323;
	--ion-color-danger-rgb: 215,35,35;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #bd1f1f;
	--ion-color-danger-tint: #db3939;

	--ion-color-light: #FFFFFF;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;

	--ion-color-medium: #1c1c1c;
	--ion-color-medium-rgb: 28,28,28;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #191919;
	--ion-color-medium-tint: #333333;

	--ion-color-dark: #1c1c1c;
	--ion-color-dark-rgb: 28,28,28;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #191919;
	--ion-color-dark-tint: #333333;

}

.glass-input {
  --background: rgba(45, 45, 45, 0.93);
  --color: #ddd;
  --placeholder-color: #777;
  --placeholder-font-style: italic;
  --placeholder-opacity: 0.75;
  --padding-start: 15px;
  --padding-end: 15px;
  --border-radius: 25px;
  border: 2px solid #C5C5C5;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  min-height: 40px;
}

ion-button {
  border: 2px solid #000;
  border-radius: 7px;
  text-transform: none;
  --padding-start: 3.3vw;
  --padding-end: 3.3vw;
}